@media screen and (max-width: 1200px) {
    .user-content2 {
        display: flex;
        align-items: center;
    }

    .user-name2 {
        margin-right: 10px;
    }

    .imgUserPayContainer2 {
        background-color: $color-orange-intergas;
        justify-content: center;
        border-radius: 50px;
        align-items: center;
        display: flex;
        height: 40px;
        width: 40px;
    }

    .imgUserPayContainerfondo {
        background-color: $color-orange-intergas;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        margin-right: 40px;
        margin-left: 40px;
        margin-top: -5px;
        display: flex;
        height: 60px;
        width: 60px;
    }

    .container-Warn-back {
        flex-direction: column;
        padding: 1.5vh 2vh;
        flex-wrap: wrap;
        display: flex;
        width: 100%;

        .warn-back {
            background-image: url("../png/bannerDashboard.jpg");
            box-shadow: $shadow-dashboard-cards;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 20px;
            border-top: none;
            color: $color-white;
            padding: 1rem;

            .containerTexts {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 100%;

                .texto-encima {
                    width: 70%;

                    .texto-encima-p:nth-of-type(1) {
                        font-size: 18px;
                        color: black;
                        color: #1B2654;
                        padding-left: 0vh;
                        position: relative;
                        font-size: 16px;
                        top: 1vh;
                        left: 2vh;
                    }

                    .texto-encima-p:nth-of-type(2) {
                        background-color: transparent;
                        color: $color-orange-intergas;
                        font-style: italic;
                        font-size: 60px;
                        position: relative;
                        left: 2vh;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                    }

                    .texto-encima-p:nth-of-type(3) {
                        background-color: transparent;
                        color: $text-dashboard-description;
                        font-size: 50px;
                        color: #1B2654;
                        position: relative;
                        bottom: 3vh;
                        left: 1vh;
                        padding: 0 0 0 1vh;
                        // font-style: italic;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                    }
                }

                .texto-encima-news {
                    width: 35%;
                    background-color: #1B2654;
                    border-radius: 10px;
                    padding: 1vh;

                    .texto-encima-p-news:nth-of-type(1) {
                        color: $color-orange-intergas;
                        font-style: italic;
                        font-size: 14px;
                    }

                    .texto-encima-p-news:nth-of-type(2) {
                        width: 100%;
                        text-overflow: ellipsis;
                        font-size: 10px;
                        overflow: auto;
                        max-height: 10vh;
                        height: 100%;
                        margin: 1vh 0 0 0;
                    }

                    .texto-encima-p-news:nth-of-type(3) {
                        margin-top: 2vh;
                        font-size: 9px;
                        color: #adadad;
                        font-style: italic;
                    }
                }
            }
        }

        .warn-back-cards {
            justify-content: space-between;
            flex-direction: row;
            display: flex;
            height: 25vh;
            width: 100%;

            .containerCards {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 1vh;
                height: 50vh;
                width: 100%;

                .cards:nth-of-type(1) {
                    box-shadow: $shadow-dashboard-cards;
                    border-radius: 20px;
                    background-color: white;
                    color: #1B2654;
                    p {
                        color: #fc4c02;
                        font-weight: bold;
                    }
                }

                .cards:nth-of-type(2) {
                    box-shadow: $shadow-dashboard-cards;
                    border-radius: 20px;
                    background-color: white;
                    color: #1B2654;
                
                    p {
                        color: #fc4c02;
                        font-weight: bold;
                    }
                }

                .cards:nth-of-type(3) {
                    box-shadow: $shadow-dashboard-cards;
                    border-radius: 20px;
                    background-color: white;
                    color: #1B2654;
                    margin: .4vh;
                    padding: 1rem;

                }

                .cards:nth-of-type(4) {
                    box-shadow: $shadow-dashboard-cards;
                    border-radius: 20px;
                    background-color: white;
                    color: #1B2654;
                    margin: .4vh;
                    padding: 1rem;

                }
            }


        }
    }
}