.pFrente{
    background-image: url("../../png/estacionario/FrenteEstacionarioSF.png");
    background-repeat: no-repeat;
    background-size: 50% ;
    width: 100%;
    text-align: center;
	margin-bottom: 50px;
    margin:auto;
}
.pEstacionarioDerch{
    background-image: url("../../png/estacionario/EstacionarioDerch.png");
    background-repeat: no-repeat;
    background-size: 50% ;
    width: 100%;
    text-align: center;
	margin-bottom: 50px;
    margin:auto;
}
.pEstacionarioTrasero{
    background-image: url("../../png/estacionario/EstacionarioTrasero.png");
    background-repeat: no-repeat;
    background-size: 50% ;
    width: 100%;
    text-align: center;
	margin-bottom: 50px;
    margin:auto;
}
.pEstacionarioIzq{
    background-image: url("../../png/estacionario/EstacionarioIzq.png");
    background-repeat: no-repeat;
    background-size: 50% ;
    width: 100%;
    text-align: center;
	margin-bottom: 50px;
    margin:auto;
}

.camion-estacionario{
    background-image: url("../../png/estacionario.jpg");
    background-repeat: no-repeat;
    background-size: 50% ;
    width: 100%;
    text-align: center;
	margin-bottom: 50px;
    margin:auto;
}


.camion-portatil{
    background-image: url("../../png/portatil.jpg");
    background-repeat: no-repeat;
    background-size: 50% ;
    width: 50% ;
    text-align: center;
	margin-bottom: 50px;
    margin:auto;
}
.camion-visita{
    background-image: url("../../png/visita.jpg");
    background-repeat: no-repeat;
    background-size: 50% ;
    width: 100%;
    text-align: center;
	margin-bottom: 50px;
    margin:auto;
}


.btn-auto{
    background: #10069f !important;
    color: #fff !important;
}
.btn-auto:hover{
    background: #f64115 !important;
    color: #fff !important;
}
