.containerChartPortatil {
    width: 100%;
    height: 100%;
    padding: 10px;

    input{
        border-radius: 10px;
        position: relative;
        font-size: 12px;
    }

    #chart2{
        width: 45vh;
        height: 65vh;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
    }

    .dx-visibility-change-handler {
        svg {
            width: 100%;
            height: 100%;

            g {
                font-size: 10px;
                transform: translate(1, 0);

                text {
                    text-anchor: center;
                    white-space: normal;
                    cursor: pointer;
                    tspan{
                        font-size: 10px;
                    }
                }

                .dx-export-menu-button {
                    rect {
                        fill: #fdfdfd75;
                        stroke: none;
                    }

                    path {
                        fill: rgb(3, 3, 3);
                    }
                }

                .dx-export-menu-list {
                    rect {
                        fill: #ebebebfd;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .containerChartPortatil {
        width: 100%;
        height: 100%;
        padding: 10px;
    
        #chart2{
            width: 40vh;
            height: 68vh;
            margin: 0 0 0 0;
            padding: 0 0 0 0;
        }
    
        .dx-visibility-change-handler {
            svg {
                width: 100%;
                height: 100%;
    
                g {
                    font-size: 10px;
                    transform: translate(1, 0);
    
                    text {
                        text-anchor: center;
                        white-space: normal;
                        cursor: pointer;
                        tspan{
                            font-size: 10px;
                        }
                    }
    
                    .dx-export-menu-button {
                        rect {
                            fill: #fdfdfd75;
                            stroke: none;
                        }
    
                        path {
                            fill: rgb(3, 3, 3);
                        }
                    }
    
                    .dx-export-menu-list {
                        rect {
                            fill: #ebebebfd;
                        }
                    }
                }
            }
        }
    }
    
}
@media screen and (max-width: 1024px) {
    .containerChartPortatil {
        width: 100%;
        height: 100%;
        padding: 10px;
    
        #chart2{
            width: 40vh;
            height: 60vh;
            margin: 0 0 0 0;
            padding: 0 0 0 0;
        }
    
        .dx-visibility-change-handler {
            svg {
                width: 100%;
                height: 100%;
    
                g {
                    font-size: 10px;
                    transform: translate(1, 0);
    
                    text {
                        text-anchor: center;
                        white-space: normal;
                        cursor: pointer;
                        tspan{
                            font-size: 10px;
                        }
                    }
    
                    .dx-export-menu-button {
                        rect {
                            fill: #fdfdfd75;
                            stroke: none;
                        }
    
                        path {
                            fill: rgb(3, 3, 3);
                        }
                    }
    
                    .dx-export-menu-list {
                        rect {
                            fill: #ebebebfd;
                        }
                    }
                }
            }
        }
    }
    
}
@media screen and (max-width: 390px) {
    .containerChartPortatil {
        width: 100%;
        height: 100%;
        padding: 10px;
    
        #chart2{
            width: 40vh;
            height: 50vh;
            margin: 0 0 0 0;
            padding: 0 0 0 0;
        }
    
        .dx-visibility-change-handler {
            svg {
                width: 100%;
                height: 100%;
    
                g {
                    font-size: 10px;
                    transform: translate(1, 0);
    
                    text {
                        text-anchor: center;
                        white-space: normal;
                        cursor: pointer;
                        tspan{
                            font-size: 10px;
                        }
                    }
    
                    .dx-export-menu-button {
                        rect {
                            fill: #fdfdfd75;
                            stroke: none;
                        }
    
                        path {
                            fill: rgb(3, 3, 3);
                        }
                    }
    
                    .dx-export-menu-list {
                        rect {
                            fill: #ebebebfd;
                        }
                    }
                }
            }
        }
    }
    
}