@media screen and (max-width: 850px) {
    footer {
        background: #ffffff;
        position: sticky;
        display: flex;
        bottom: 0;
        width: 100%;
        height: 50px;
        text-align: center;
        align-content: center;
        justify-content: center;
        border-top: 1px solid #b4aeae;
        font-size: 9pt;
        img{
            margin: 1vh 0 0 2vh;
            width: 16px;
        }
        p{
            margin: .2vh 1vh 0vh 1vh;
        }
    }
    
}  
@media screen and (max-width: 950px) {
    footer {
        background: #ffffff;
        position: sticky;
        display: flex;
        bottom: 0;
        width: 100%;
        height: 50px;
        text-align: center;
        align-content: center;
        justify-content: center;
        border-top: 1px solid #b4aeae;
        font-size: 10pt;
        img{
            margin: 1vh 0 0 2vh;
            width: 16px;
        }
        p{
            margin: .2vh 1vh 0vh 1vh;
        }
    }
    
}  
@media screen and (max-width: 1024px) {
    footer {
        background: #ffffff;
        position: sticky;
        display: flex;
        bottom: 0;
        width: 100%;
        height: 50px;
        text-align: center;
        align-content: center;
        justify-content: center;
        border-top: 1px solid #b4aeae;
        font-size: 10pt;
        img{
            margin: 1vh 0 0 2vh;
            width: 20px;
        }
        p{
            margin: .2vh 1vh 0vh 1vh;
        }
    }
    
}  
@media screen and (max-width: 600px) {
    footer {
        background: #ffffff;
        position: sticky;
        display: flex;
        bottom: 0;
        width: 100%;
        height: 50px;
        text-align: center;
        align-content: center;
        justify-content: center;
        border-top: 1px solid #b4aeae;
        font-size: 9pt;
        img{
            margin: 1vh 0 0 2vh;
            width: 16px;
        }
        p{
            margin: .2vh 1vh 0vh 1vh;
        }
    }
    
}  
@media screen and (max-width: 500px) {
    footer {
        background: #ffffff;
        position: sticky;
        display: flex;
        bottom: 0;
        width: 100%;
        height: 50px;
        text-align: center;
        align-content: center;
        justify-content: center;
        border-top: 1px solid #b4aeae;
        font-size: 7pt;
        img{
            margin: 1vh 0 0 2vh;
            width: 16px;
        }
        p{
            margin: 0vh 2vh;
        }
    }
    
}  
@media screen and (max-width: 390px) {
    footer {
        background: #ffffff;
        position: sticky;
        display: flex;
        bottom: 0;
        width: 100%;
        height: 50px;
        text-align: center;
        align-content: center;
        justify-content: center;
        border-top: 1px solid #b4aeae;
        font-size: 7pt;
        img{
            margin: 1vh 0 0 2vh;
            width: 16px;
        }
        p{
            margin: 0vh 2vh;
        }
    }
    
}  
@media screen and (max-width: 360px) {
    footer {
        background: #ffffff;
        position: sticky;
        display: flex;
        bottom: 0;
        width: 100%;
        height: 50px;
        text-align: center;
        align-content: center;
        justify-content: center;
        border-top: 1px solid #b4aeae;
        img{
            margin: 1vh 0 0 2vh;
            width: 12px;
        }
        p{
            font-size: 6pt;
            margin: 0vh 1vh;
        }
    }
    
}  